.card{
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    display: flex;
    padding: 2%;

    .info-div{
        // border: 1px solid red;
        width: 100%;
    }

    .title{
        text-align: left;
        margin-left: 14%;
        margin-top: 5%;
        margin-bottom: 1%;
        // border: 1px solid black;
        width: 50%;
    }

    span{
        font-style: italic;
        font-weight: bold;
    }

    .text{
        text-align: left;
        margin-bottom: 1%;
        margin-left: 14%;
        // border: 1px solid blue;
        width: 50%;
    }
}